body{
    width: 85%;
    padding: 25px;
    margin: 25px;
}


.direct_id{

    border-collapse: collapse;
    width: 100%;

}

th{
    text-align: left;
    background-color:  royalblue;
    color: white;

}

th, td{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #ffff99;
}