<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <!-- links to required jquery and Datatables CDN resources -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('#direct_id').DataTable();
        });
        </script>

        <!-- adds leaflet.js map support -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>

        <!-- Load Esri Leaflet from CDN -->
        <script src="//cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.7/esri-leaflet.js"></script>

    </head>
    <body>
        <ul>
            <li><a href="/">index</a></li>
            <li><a href="../get_id">search by id</a></li>
            <li><a href="../multi">search for multiple AED's</a></li> 
            <li><a href="../by_facility"> search by facility</a></li>
        </ul>
        <br>
        <br>
        

        <form method ="POST" action="/by_date/">
            <label>Starting year of query: </label> <input name="startYr" type = "date"/>
            <label> Ending year of query: </label> <input name="endYr" type= "date"/>
            <input type = "checkbox" name ="mapResults" value =True>map results(optional)<br><br>

            <input type ="submit"  input value ="Submit"/>
        </form>
        <br>
        <br>

        <p>This is every AED listed as being acquired between <strong>{{ startYr }}</strong> and <strong>{{ endYr }}</strong></p><br>

        <table  id="direct_id" border="1" class ="direct_id">
        <thead>
            <th><a href="../get_id">id</a></th> <th>Acquired</th><th><a href="../by_facility">Facility</a></th><th>Location</th><th>Brand</th><th>Model</th><th>Model #</th><th>Lng</th><th>Lat</th><th>Expiration Date</th><th>Replaced</th><th>Address</th>
        </thead>

        <tbody>

            {% for item in rangAed %}
                <tr>
                    <td>{{ item[0] }}</td> <td>{{ item[1] }}</td> <td>{{ item[2] }}</td> <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td>{{ item[7] }}</td><td>{{ item[8] }}</td><td>{{ item[9] }}</td><td>{{ item[10] }}</td> <td>item[11]</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        {% if mapResults %}
            <div id="map" style="height: 500px;"></div>
            {{ mapResults }}
            {% for item in rangAed %}
                
                <script>

                    var map = L.map("map").setView([ {{ item[8] }}, {{ item[7] }}], 12);
       `             L.esri.basemapLayer("Streets").addTo(map);

                        {% for item in rangAed %}
                            var item = L.marker([ {{ item[8] }}, {{ item[7] }}]).addTo(map).bindPopup("<strong>{{item[2]}}</strong>, {{item[11]}}"); //adds marker to map
                        {% endfor %}
                    
                </script>
            {% endfor %}
        {% endif %}
        


    </body>


</html>