<!DOCTYPE html>
<html>
<head>
    <title>DC AEDs</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8"/>
</head>




<h2><center>Automatic External Defibrilators in Washington, D.C. </center></h2>

            <ul>
                <li><a href="/">index</a></li>
                <li><a href="../multi">search for multiple AEDs</a></li>
                <li><a href="../by_facility">search by facility</a></li>
                <li><a href="../by_date"> search by date range</a></li>    
            </ul>


<body>

{% if usrAed %}
    
<table  id="direct_id" border="1" class ="direct_id">
    <th><a href="../get_id">id</a></th> <th><a href="../by_date">Acquired</a></th><th><a href="../by_facility">Facility</a></th><th>Location</th><th>Brand</th><th>Model</th><th>Model #</th><th>X Coordinates</th><th>Y Coordinates</th><th>Expiration Date</th><th>Replaced</th>

    {% for item in usrAed %}
        <tr>
            <td>{{ item[0] }}</td> <td>{{ item[1] }}</td> <td>{{ item[2] }}</td> <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td>{{ item[7] }}</td><td>{{ item[8] }}</td><td>{{ item[9] }}</td><td>{{ item[10] }}</td>
        </tr>
    {% endfor %}

{% else %}
    <form method ="POST" action="/get_id/">
    <label>id: </label> <input name="num" type = "number" />
    <input type ="submit"  input value ="Find"/>
    </form>
<br>
<br>
{% endif %}

</table>
</body>

</html>