<!DOCTYPE html>
<html>
<head>
    <title>DC AEDs</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8"/>

            <!-- adds leaflet.js map support -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>

    <!-- Load Esri Leaflet from CDN -->
  <script src="//cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.7/esri-leaflet.js"></script>


</head>


<h2><center>Automatic External Defibrilators in Washington, D.C. </center></h2>

            <ul>
                <li><a href="/">index</a></li>
                <li><a href="../multi">search for multiple AEDs</a></li>
                <li><a href="../by_facility">search by facility</a></li>
                <li><a href="../by_date"> search by date range</a></li>    
            </ul>


<body>

    {% if usrAed %}
        
    <table  id="direct_id" border="1" class ="direct_id">
        <th><a href="../get_id">id</a></th> <th><a href="../by_date">Acquired</a></th><th><a href="../by_facility">Facility</a></th><th>Location</th><th>Brand</th><th>Model</th><th>Model #</th><th>X Coordinates</th><th>Y Coordinates</th><th>Expiration Date</th><th>Replaced</th><th>Address</th>

        {% for item in usrAed %}
            <tr>
                <td>{{ item[0] }}</td> <td>{{ item[1] }}</td> <td>{{ item[2] }}</td> <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td>{{ item[7] }}</td><td>{{ item[8] }}</td><td>{{ item[9] }}</td><td>{{ item[10] }}</td><td>{{ item[11] }}</td>
            </tr>
        {% endfor %}

    {% else %}
        <form method ="POST" action="/get_id/">
        <label>id: </label> <input name="num" type = "number" />
        <input type = "checkbox" name ="mapResults" value =True>map results(optional)<br><br>
        <input type ="submit"  input value ="Find"/>
        </form>
    {% endif %}

</table>
<br>
<br>
    
    <div id="map" style="height: 500px;"></div>
    
    {% if mapResults %}

        <script>
            var map = L.map("map").setView([ {{ usrAed[0][8] }}, {{ usrAed[0][7] }}], 12);
            var item = L.marker([ {{ usrAed[0][8] }}, {{ usrAed[0][7] }}]).addTo(map).bindPopup("<strong>{{usrAed[0][2]}}</strong>, {{usrAed[0][11]}}"); //adds marker to map
            L.esri.basemapLayer("Streets").addTo(map);
        </script>

    {% endif %}


</body>

</html>