<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8"/>
        <title>DC AEDs</title>
    </head>

        <ul>
            <li><a href="/">index</a></li>
            <li><a href="../get_id">search by id</a></li>
            <li><a href="../by_facility">search by facility</a></li>
            <li><a href="../queryrange"> search by date range</a></li>       
        </ul>

    <body>
        {% if usrAed %}
            <h2> These are the first {{ data[0] }} automatic exernal defibrilators in Washington, D.C.</h2>
        {% else %}
            <h2><center>Automatic External Defibrilators in Washington, D.C. </center></h2>
        {% endif %}

        <form method ="POST" action="/multi/">
            <label>Enter the # of AED records to show: </label> <input name="num" type = "number" />
            <input type ="submit"  input value ="Find"/>
        </form>
    <br>
    <br>

        <table  id="direct_id" border="1" class ="direct_id">
        <th><a href="../get_id">id</a></th> <th><a href="../by_date">Acquired</a></th><th><a href="../by_facility">Facility</a></th><th>Location</th><th>Brand</th><th>Model</th><th>Model #</th><th>Lng</th><th>Lat</th><th>Expiration Date</th><th>Replaced</th>


        {% for item in usrAed %}
            <tr>
                <td>{{ item[0] }}</td> <td>{{ item[1] }}</td> <td>{{ item[2] }}</td> <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td>{{ item[7] }}</td><td>{{ item[8] }}</td><td>{{ item[9] }}</td><td>{{ item[10] }}</td>
            </tr>
        {% endfor %}
        </table>

    </body>

</html>