<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8"/>
        <title>DC AEDs</title>

          <!-- links to required jquery and Datatables CDN resources -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('#direct_id').DataTable();
        });
        </script>

        <!-- adds leaflet.js map support -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>

        <!-- Load Esri Leaflet from CDN -->
        <script src="//cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.7/esri-leaflet.js"></script>
    </head>

        <ul>
            <li><a href="/">index</a></li>
            <li><a href="../get_id">search by id</a></li>
            <li><a href="../by_facility">search by facility</a></li>
            <li><a href="../by_date"> search by date range</a></li>       
        </ul>

    <body>

        {% if count > 1 %}
            <h2> Here are the first {{ data[0] }} automatic exernal defibrilators in Washington, D.C.</h2>
        {% elif count == 1 %}
            <h2> Here is the first listed automatic exernal defibrilator in Washington, D.C.</h2>
        {% else %}
            <h2><center>Automatic External Defibrilators in Washington, D.C. </center></h2>
        {% endif %}

        <form method ="POST" action="/multi/">
            <label>Enter the # of AED records to show: </label> <input name="num" type = "number" />
            <input type = "checkbox" name ="mapResults" value =True>map results(optional)<br><br>
            <input type ="submit"  input value ="Find"/>
        </form>
    <br>
    <br>
        {% if usrAed %}

            <table  id="direct_id" border="1" class ="direct_id">
                <thead>
                    <th><a href="../get_id">id</a></th> <th><a href="../by_date">Acquired</a></th><th><a href="../by_facility">Facility</a></th><th>Location</th><th>Brand</th><th>Model</th><th>Model #</th><th>Lng</th><th>Lat</th><th>Expiration Date</th><th>Replaced</th><th>Address</th>
                </thead>

                <tbody>
                    {% for item in usrAed %}
                        <tr>
                            <td>{{ item[0] }}</td> <td>{{ item[1] }}</td> <td>{{ item[2] }}</td> <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td>{{ item[7] }}</td><td>{{ item[8] }}</td><td>{{ item[9] }}</td><td>{{ item[10] }}</td> <td>{{ item[11] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if mapResults %}
                <div id="map" style="height: 500px;"></div>
                {{ mapResults }}
                {% for item in usrAed %}
                    
                    <script>

                        var map = L.map("map").setView([ {{ item[8] }}, {{ item[7] }}], 12);
                        L.esri.basemapLayer("Streets").addTo(map);

                            {% for item in usrAed %}
                                var item = L.marker([ {{ item[8] }}, {{ item[7] }}]).addTo(map).bindPopup("<strong>{{item[2]}}</strong>, {{item[11]}}"); //adds marker to map
                            {% endfor %}
                        
                    </script>
                {% endfor %}
            
            {% endif %}

        {% endif %}

    </body>

</html>