<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<meta charset="utf-8"/>
<title>DC AEDs</title>

<h2><center>Automatic External Defibrilators</center></h2>
</head>

<body>

    <form method ="POST" action="/query">
        <label>Enter the # of AED records to show: </label> <input name="num" type = "number" />
        <input type ="submit"  input value ="Find"/>
    </form>
<br>
<br>

<table  id="direct_id" border="1" class ="direct_id">
<th>id</th> <th>Acquired</th><th>Facility</th><th>Location</th><th>Brand</th><th>Model</th><th>Model #</th><th>Lng</th><th>Lat</th><th>Expiration Date</th><th>Replaced</th>


{% for item in usrAed %}
    <tr>
        <td>{{ item[0] }}</td> <td>{{ item[1] }}</td> <td>{{ item[2] }}</td> <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td>{{ item[7] }}</td><td>{{ item[8] }}</td><td>{{ item[9] }}</td><td>{{ item[10] }}</td>
    </tr>
{% endfor %}
</table>

</body>

</html>